<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 07.03.2020, 14:40</p>
            <h2><a href="">My first post</a></h2>
            <p>Pasta is very tasty.</p>
        </div>

        <div>
            <p>published: 07.03.2020, 14:42</p>
            <h2><a href="">My second post</a></h2>
            <p>Pasta is still very tasty. Nom nom.</p>
        </div>
    </body>
</html>
